@import '../../vars.scss';

input {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    width: 100%;
    height: 100%;
}

.Input {
    padding: 5px;
    border: 1px solid $dark1MainColor;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 13px;
}